<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>GovoriZapishi</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.local.govorizapishi</string>
	<key>CFBundleName</key>
	<string>GovoriZapishi</string>
	<key>CFBundleDisplayName</key>
	<string>Govori-Zapishi</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>LSUIElement</key>
	<false/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Govori-Zapishi записывает ваш голос для транскрипции встреч и заметок.</string>
	<key>NSScreenRecordingUsageDescription</key>
	<string>Govori-Zapishi захватывает системный звук созвона для транскрипции встречи.</string>
</dict>
</plist>
